@import url('https://fonts.cdnfonts.com/css/poppins');

:root{
    --main-color : #5168f4;
    --dark-color : #11152a;
    --light-color : #d0d4ed;
}
*{
    margin: 0;
    padding: 0;
}
*, ::before, ::after{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    color: var(--dark-color);
    background-color: #efefef;
}
a{
    text-decoration: none;
}
h2{
    font-size: 3em;
    font-weight: 400;
    line-height: 1.2;
    color: white;
    margin-bottom: 20px;
}
.error
{
    color: #CD0033;
}
.welcome{
    text-align: center;
}
/* .num
{
    display: flex;
    justify-content: center;
    align-items: center;
}
select{
    font-family: inherit;
    padding: 0;
    width: 20%;
    outline: 0;
    margin: 0 0 20px; 
    padding: 10px 15px;
    border-radius: 7px;
    margin-left: 5px;
    border: 1px solid var(--light-color);
} */
.container{
    max-width: 1100px;
    min-width: 310px;
    margin: 0 auto;
}
.wrapper>div{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    margin: 5em auto;
    background: linear-gradient(180deg,#5168f4,#CD0033);
    /* background-color: var(--main-color); */
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.45) 0 25px 20px -20px;
}
:is(.login) > div{
    position: relative;
    flex: 1 0 50%;
    padding: 60px;
}
.content-heading .y-style {
    display: flex;
    flex-direction: column;
}
.logo a{
    display: inline-block;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 700;
    color: var(--dark-color);
}
.logo span{
    font-size: 18px;
    color: #fff;
}
.content-heading p {
    color: var(--light-color);
}
.content-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
form input:not(#terms, #rememder){
    font-family: inherit;
    width: 100%;
    outline: 0;
    margin: 0 0 20px;
    padding: 10px 15px;
    border-radius: 7px;
    border: 1px solid var(--light-color);
}
form input:not(#terms, #rememder):focus{
    border: 1px solid #f62044;
}
form input:not(#terms, #rememder):valid{
    border: 1px solid #00cd26;
}
form input::placeholder{
    color: var(--light-color);
}
form input[type="submit"] {
    background-color: #eb3b5a;
    color: white;
    width: 100%;
    margin: 30px 0;
    border: none;
    line-height: 30px;
    border-radius: 7px;
    cursor: pointer;
    background-image: linear-gradient(45deg, transparent 50%, #000000 50%);
    background-position: 25%;
    background-size: 400%;
    transition: background 450ms ease-in-out, color 500ms ease-in-out;
    -webkit-transition: background 450ms ease-in-out, color 500ms ease-in-out;
    -moz-transition: background 450ms ease-in-out, color 500ms ease-in-out;
    -ms-transition: background 450ms ease-in-out, color 500ms ease-in-out;
    -o-transition: background 450ms ease-in-out, color 500ms ease-in-out;
}
input[type="submit"]:hover{
    color: #fff;
    background-position: 100%;
}
.afterform{
    text-align: center;
    margin-top: 20px;
}
form label a, .afterform a{
    color: var(--main-color);
}
form :is(p, label) a:hover, .afterform a:hover{
    border-bottom: 1px dotted;
    color: var(--dark-color);
}
.content-form::before{
    content: '';
    position: absolute;
    width: 300%;
    height: 200%;
    background-color: #fff;
    border-radius: 50%;
    transform: translate3d(-27%, 21%, 0);
    -moz-transform: translate3d(-27%, 21%, 0);
    -webkit-transform: translate3d(-27%, 21%, 0);
    animation: move 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -moz-animation: move 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit-animation: move 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes move {
    from{
        opacity: 0;
        transform: translate3d(50%, 60%, 0);
    }to{
        opacity: 1;
    }
}
.y-style{
    position: relative;
    transform: translate3d(0, 20%, 0);
    -moz-transform: translate3d(0, 20%, 0);
    -webkit-transform: translate3d(0, 20%, 0);
    animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -moz-animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    -webkit-animation: fade-in 0.7s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes fade-in {
    from{
        opacity: 0;
        transform: translate3d(0, 20%, 0);
    }to{
        opacity: 1;
    }
}
:is(.y-style){
    transform: translate3d(0,0,0);
}



@media screen and (min-width: 768px) {
    .wrapper>div{
        flex-direction: row;
        max-width: 800px;
    }
    .content-heading .y-style {
        height: 100%;
        justify-content: space-between;
    }
    .content-form::before{
        width: 200%;
        transform: translate3d(-18%, -10%, 0);
        -moz-transform: translate3d(-18%, -10%, 0);
        -webkit-transform: translate3d(-18%, -10%, 0);
    }
    .welcome{
        text-align: left;
        margin: 5em 0 auto;
    }
    @keyframes move {
        from{
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }to{
            opacity: 1;
        }
    }
}
